@import "../../index.css";

.footer {
    width: 100%; // Full width
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    margin-bottom: 3rem;
    background-color: #1E7947; // Vert Hylien
    color: #FFD700; // Doré Triforce
    box-shadow: 0 1rem 1rem rgba(11, 61, 11, 0.5); // Adjusted shadow color to match the dark green

    .footer-content {
        display: flex;
        justify-content: center;
        width: 100%;

        p {
            margin: 0;
        }

        nav {
            ul {
                list-style: none;
                display: flex;
                justify-content: flex-end;
                gap: 1rem;
                padding: 0;
                margin: 0;

                li {
                    a {
                        text-decoration: none;
                        color: inherit;
                        display: flex;
                        justify-content: flex-end;
                        transition: transform 0.3s ease, filter 0.3s ease;

                        &:hover {
                            transform: scale(1.2); // Zoom on the link when hovered
                            filter: brightness(1.5);
                        }
                    }
                }
            }
        }
    }
}